* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

p {
    background-color: green;
    color: white;
    font-size: 18px;
}

button {
    background-color: orange;
    font-size: 18px;
    float: right;
}

h1 {
    text-align: center;
    background-color: brown;
    color: aliceblue;
    padding: 20px;
    font-size: 40px;
}

h2 {
    text-decoration: underline;
    font-size: 30px;
}

ul li {
    font-style: italic;
    font-size: larger;
}

ol {
    background-color: antiquewhite;
}

ol li {
    color: grey;
    /* margin-bottom: 5px; */
    padding: 5px;

}
